.idea
*.iml
*.ipr
*.iws
magnolia-blossom-de.eiswind.magnolia.thymeleaf-example/overlays
magnolia-blossom-de.eiswind.magnolia.thymeleaf-example/target
magnolia-blossom-de.eiswind.magnolia.thymeleaf-module/target
target
magnolia-blossom-de.eiswind.magnolia.thymeleaf-example/derby.log
repositories
cache
logs
tmp
mgnldata
