.idea
/app/app.iml
/app/app-webapp/*.iml
/app/app-webapp/overlays/info.magnolia.magnolia-empty-webapp-4.5.3
/app/app-webapp/overlays/info.magnolia.magnolia-empty-webapp-4.5.6
/app/app-webapp/overlays/info.magnolia.magnolia-empty-webapp-4.5.3.info
/app/app-webapp/overlays/info.magnolia.magnolia-empty-webapp-4.5.6.info
/app/module/target
/app/target
/app/app-webapp/target
*.ipr
*.iws
/app/magnolia-blossom-thymeleaf-example/overlays
/app/magnolia-blossom-thymeleaf-example/target
*.iml
/app/magnolia-blossom-thymeleaf-module/target
/thymeleaf-proto
target
.settings
.classpath
.project
.springBeans
app/magnolia-blossom-thymeleaf-example/derby.log

