.idea
*.iml
*.ipr
*.iws
magnolia-blossom-thymeleaf-example/overlays
magnolia-blossom-thymeleaf-example/target
magnolia-blossom-thymeleaf-module/target
target
magnolia-blossom-thymeleaf-example/derby.log
repositories
cache
logs
tmp
mgnldata
